table {
display:flex;
background-color:#FFFFFF;
border: 2px solid #000000;
max-width: 500px;
max-height: 550px;
order:2;
}
.header {
background-color:#d66d80;
height: 100px;
padding-top:20px;
}

.nav {
display: flex;
flex-direction: column;
background-color:#f7d0d7;
max-width: 900px;
margin: 0 auto;
}
.logo {
max-width:150px;
float:left;
margin:auto;
}
.menu {
max-width:960px;
text-align: center;
margin:0 auto;
display: flex;
flex-direction: column;
background-color:#f7d0d7;
padding-top:20px;
}
.footer {
background-color:#d66d80;
height: 70px;
font-size: 40px;
}
